.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px ;

}

.mywork-title{
    position: relative;
    z-index: -1;
}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.title-img{
    width: 150px;
    position: absolute;
    bottom: -25px;
    right: 0;
    z-index: -1;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px; 
}
.project-img{
    box-sizing: border-box;
    width: 400px;
    height: 280px;
    transition: 0.3s;
}
.project-img:hover{
transform: scale(1.10);
border:  4px solid #ba09ba;
border-radius: 15px;
transition: 0.3s;
}

.mywork-showmore{
    display: flex;
    gap: 15px;
    border:2px solid white ;
    border-radius: 50px;
    padding: 20px 40px;
   background-color: inherit;
   color: #fff;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
    font-size: 24px;
}
.mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;
}

.project-card{
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0.7;
    transition:  0.8s ease;
   
}
.project-card:hover{
   opacity: 1;
  
}
.link-btn{
    display: flex;
    justify-content: space-around;
   
}
.demo {
    position: absolute;
    bottom: 100px;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(58, 55, 55,0.9);
    color: #fff;
    cursor: pointer;

}
.githup{
    position: absolute;
    bottom: 50px;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(58, 55, 55,0.9);
    color: #fff;
    cursor: pointer;
}
.demo:hover ,.githup:hover{
    transition: 0.3s;
    font-size: 18px;
    background-color: rgba(21, 21, 21, 0.9);

}
/* small screen 1200 */
@media (max-width:1200px) {
    .mywork-container{
        grid-template-columns: 1fr 1fr 1fr  ;
    }
    .project-img{
        width: 320px;
        height: 280px;
    }
}
/* tabblet */
@media (max-width:900px) {
    .mywork{
        gap: 70px;
        margin: 20px 70px ;
    }
    .mywork-title h1{
        padding: 0px 30px;
        font-size: 50px;
    }
    .title-img{
        width: 100px; 
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr ;
    }
    .project-img{
        width: 320px;
        height: 280px;
    }
    .project-img:hover{
        transform: scale(1.1);
        }
    .mywork-showmore{
        margin-bottom: 70px;
        font-size: 22px;
    }
    .mywork-showmore:hover{
        gap: 30px;
        transition: 0.6s;
    }

}

/* phone */

@media (max-width:600px) {
    .mywork{
        gap: 50px;
        margin: 20px 50px ;
    }
    .mywork-title h1{
        padding: 0px ;
        font-size: 30px;
    }
    .title-img{
        width: 65px; 
        top: 2px;
        right: -14px;
    }
    .mywork-container{
        grid-template-columns: 1fr  ;
    }
    .project-img{
        width: 280px;
        height: 280px;
        border-radius: 5px;
    }
   
    .mywork-showmore{
        padding: 10px 20px;
        margin-bottom: 50px;
        font-size: 16px;
    }
    .mywork-showmore:hover{
        gap: 20px;
        transition: 0.4s;
    }

}