.esraa{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
 
.esraa img{
    background:  linear-gradient(267deg,#DA7C25 0.36% , #B923E1 102.06%);
    padding: 5px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%; 
}
.esraa h1{
    text-align: center;
    width: 70%;
    font-size: 100px;
    font: weight 600px; ;
}

.esraa h1 span{
    background: linear-gradient(267deg,#DA7C25 0.36% , #B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.esraa p{
    width: 70%;
    text-align: center;
    font: 26px;
    line-height: 40px;
}

.esraa-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight:50px ;
    margin-bottom: 50px;

}

.esraa-connect{
    padding: 25px 65px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36% , #B923E1 102.06%);
    cursor: pointer;
}
.esraa-connect:hover{
    border: 2px solid white;
}

.esraa-resume{
    padding: 25px 65px ;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}
.esraa-resume:hover{
    border-color: #B415FF;
}

.esraa{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.esraa img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
 
.esraa img{
    margin-top: 150px;
}

.esraa h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font: weight 600px; ;
}

.esraa h1 span{
    background: linear-gradient(267deg,#DA7C25 0.36% , #B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.esraa p{
    width: 50%;
    text-align: center;
    font: 24px;
    line-height: 40px;
}

.esraa-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight:50px ;
    margin-bottom: 50px;

}

.esraa-connect{
    padding: 25px 65px;
    border-radius: 50px;
    background: linear-gradient(267deg,#DA7C25 0.36% , #B923E1 102.06%);
    cursor: pointer;
}
.esraa-connect:hover{
    border: 2px solid white;
}

.esraa-resume{
    padding: 25px 65px ;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}
.esraa-resume:hover{
    border-color: #B415FF;
}

/* lap top 1200px*/
@media (max-width:1200px) {
    .esraa img{
        margin-top: 100px;
        width: 200px;
        height: 200px;
    }
    .esraa h1{
        margin-top: 30px;
      
        font-size: 50px;
    }
    .esraa p{
        width:60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .esraa-action{
        gap: 60px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    
    
}

/* lap top 900px*/
@media (max-width:900px) {
    .esraa img{
        margin-top: 150px;
        width: 200px;
        height: 200px;
    }
    .esraa h1{
        margin-top: 30px;
        width: 90%;
        font-size: 50px;
    }
    .esraa p{
        width:60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .esraa-action{
        gap: 60px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .esraa-connect{
        padding: 20px 30px;
        border-radius: 40px;

    }
    .esraa-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}


/* phone 599px */
@media (max-width:600px) {
    
    .esraa img{
        padding: 4px;
        margin-top: 100px;
        width: 130px;
        height: 130px;
    }
    .esraa h1{
        margin-top: 30px;
        width: 90%;
        font-size: 20px;
    }
    .esraa p{
        width:80%;
        font-size: 16px;
        line-height: 28px;
        margin: 10px 0px;
    }
    .esraa-action{
        gap: 30px;
        font-size: 16px;
        font-weight: 400;
    }
    .esraa-connect{
        padding: 10px 15px;
        border-radius: 20px;

    }
    .esraa-resume{
        padding: 10px 15px;
        border-radius: 20px;
    }
}